.LoginBar {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    opacity: 1;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 13px;
    padding: 5px;
    margin: 5px; 
    
}

.logoimg {
    width: 175px;
    padding: 50px;
}

.Login-buttonss {
    
    color: #000000;
    background-color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    border-radius: 5px;
    padding: 30px solid transparent;
}

.padding {
    padding:5px;
}

.register {
    cursor: pointer;
}